html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}




.bg{ 
   background-color:#2b1f01;
   }
   
   
.bg1{ 
    background-color:#f2f3ff;
    }
   
 .line{
     display:inline-block;
    } 
     
.up{
    text-transform:uppercase;
    }
    
    
.nav-item{
          hover:bg-orange !important;
  }
     
#dec{
     text-decoration:none;

    } 
            
.one{
     padding-top:100px;
     padding-bottom:20px;

    }
    
    
.two{
     padding-bottom:70px;
     
   }
   
.padi{
     padding-bottom:500px;

    }
    
.topup{
       position:fixed;
       right:20px;
       bottom:50px;


}